---
---

<h1>This is a regular FORM</h1>
<div class="feedback-form">
  <form
    netlify
    netlify-honeypot="bot-field"
    name="feedback"
    method="POST"
    action="/success"
    enctype="multipart/form-data"
  >
    <p class="hidden">
      <label>
        Don’t fill this out if you’re human: <input name="bot-field" />
      </label>
    </p>
    <input type="hidden" name="form-name" value="feedback" />
    <label for="email">Email</label>
    <input id="email" type="email" name="email" required />
    <label for="telefono">Telefono</label>
    <input id="telefono" type="tel" name="telefono" />
    <label for="zipcode">Codigo Postal</label>
    <input id="zipcode" type="number" name="zipcode" required />
    <label for="birthdate">Fecha de nacimiento</label>
    <input id="birthdate" type="date" name="birthdate" required />

    <fieldset>
      <legend>Selecione sus areas de interes</legend>
      <div>
        <input
          id="demencia"
          type="checkbox"
          name="intereses"
          value="demencia"
        />
        <label for="demencia">Demencia</label>

        <input
          id="mental-health"
          type="checkbox"
          name="intereses"
          value="salud-mental"
        />
        <label for="mental-health">Salud Mental</label>

        <input
          id="studies"
          type="checkbox"
          name="intereses"
          value="estudios-clinicos"
        />
        <label for="studies">Estudios Clinicos</label>
      </div>
    </fieldset>

    <!--  <label for="feedback">What is your feedback?</label>
    <textarea id="feedback" wrap="soft" name="feedback" required></textarea> -->

    <label for="file-upload"></label>
    <input
      id="file-upload"
      type="file"
      name="file-upload"
      accept=".pdf,.jpg,"
    />
    <button type="submit">Submit</button>
  </form>
</div>

<style>
  .feedback-form {
    margin: 40px 40px;
    min-width: 250px;
    width: 45%;
  }
  input,
  textarea,
  button {
    font-size: inherit;
    margin: 15px 0;
    padding: 12px 20px;
    width: 100%;
  }
  button {
    background-color: teal;
    border: 1px solid black;
    color: white;
    width: 50%;
  }
  .hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
